<div class="post_header">
  From game plan to business plan
</div>


<div class="posts_wrapper">
 <% @posts.each do |post| %>
   <div class="post_div">
     <div class="post_image_div"><%= link_to post.icon.html_safe, post %></div>
     <div class="post_title_div"><%= link_to post.title, post %></div>
     <div class="post_content_div"><%= post.content.html_safe %></div>
     <div class="post_name_div"><%= username(post.user) %></div>
   </div>
 <% end %>
</div>

<% if !user_signed_in? %>
<div class="join_wrapper">
  <%= link_to 'Join AthletePreneur', authentications_path %>
</div>
<% end %>



