<!DOCTYPE html>
<html>
  <head>
    <title>AthletePreneur</title>
    
    <%= stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4.css", "application" %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "fancybox/jquery.fancybox-1.3.4.pack.js" %>
    <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>
    
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2677869-15']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
    
  </head>
  <body>
    <div class="navigation">    
      <div class="nav_left">
        <div><%= link_to 'Home', root_path %></div>
          <% if user_signed_in? %>
            <div><%= link_to 'Profile', show_user_path(current_user) %></div>
            <div><%= link_to "Sign out", destroy_user_session_path %></div>
          <% else %>
            <div><%= link_to "Sign In", authentications_path %></div>
          <% end %>
        </div>
        <div class="nav_right">
          <%= form_tag main_search_path, :method => 'get', :id => "main_search" do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil %>
            </p>
          <% end %>
        </div>
    </div>
  
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
