<!DOCTYPE html>
<html>
  <head>
    <title>AthletePreneur</title>
    
    <%= stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4.css", "application" %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "fancybox/jquery.fancybox-1.3.4.pack.js" %>
    <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>
    <link rel="Icon" href="/images/apfavicon.png" type="image/x-icon">
    
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2677869-15']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
    
  </head>
  <body>
  
  <%= render 'shared/header_nav' %>
  
  <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      
      <%= content_tag :h1, yield(:title) if show_title? %>
      
      <%= yield %>
  </div>
  
  <% if params[:controller] == 'posts' && params[:action] == 'index' %>
    <%= render 'shared/companies' %>
  <% end %>
    
  <% if is_admin? %>
    <div class="footer">
      <%= link_to 'Verify Users', admin_verify_user_path %>  &middot; <%= link_to 'New Post', new_post_path %>
    </div>
  <% end %>
  
  </body>
</html>
